div(class="clouds")
    - for (var numberCloud = 1; numberCloud < 5; numberCloud++)
        div(class="cloud" + numberCloud)
            - for (var numberCloudFigure = 1; numberCloudFigure < 6; numberCloudFigure++)
                div(class="cloud-figure" + numberCloudFigure)
