head
    title="hello world"
    meta(charset="UTF-8")
    link(rel="stylesheet" href="css/app.css")
    script(src="js/vendor.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js")
        
