doctype html
html
    include require/head.pug
    body
        #page
            //- top pane
            .pane 
                include require/clouds.pug
        
            //- bottom pane
            .pane
            
    script(src="js/app.js")
